@model Project4.Models.AnXa

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<br />
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Thêm mới ân xá</h4>
        <hr />
        <div class="form-group">
            @Html.Label("Phòng giam: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("phongGiam", new SelectList(ViewBag.Phong, "ID", "TenPhong"), new { @class = "form-control  col-md-4", @id = "txtPhong", @onchange = "LoadLaiPhong()" })
            </div>
        </div>

        <div id="phamNhan">
            @Html.Partial("_PhamNhanPartial")
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MucDoAnXa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MucDoAnXa, null, new { htmlAttributes = new { @class = "form-control  col-md-4" } })
                @Html.ValidationMessageFor(model => model.MucDoAnXa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MucDoCaiTao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MucDoCaiTao, null, new { htmlAttributes = new { @class = "form-control  col-md-4" } })
                @Html.ValidationMessageFor(model => model.MucDoCaiTao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm mới" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại trang", "Index")
</div>

@section scripts {
    <script type="text/javascript">
        function LoadLaiPhong() {
            var phongID = $("#txtPhong").val();
            var link = '@Url.Action("LoadPhamNhan", "AnXas", new { phongID = "-1" })';
            link = link.replace("-1", phongID);
            $('#phamNhan').load(link);
        }
    </script>
}
