@model Project4.Models.AnXa

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AnXa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhamNhanID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhamNhanID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MucDoAnXa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MucDoAnXa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MucDoCaiTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MucDoCaiTao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
