@model Project4.Models.LaoDongCongIch

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<br />
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Chỉnh sửa lao động cải tạo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.PhamNhanID)
        @Html.HiddenFor(model => model.QuanNgucID)
        <div class="form-group">
            @Html.LabelFor(model => model.PhamNhan.TenPhamNhan, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.HiddenFor(model => model.PhamNhan.TenPhamNhan)
                @Html.EditorFor(model => model.PhamNhan.TenPhamNhan, null, new
                { htmlAttributes = new { @class = "form-control col-md-4", disabled = "disabled" } })
                @*@Html.EditorFor(model => model.PhamNhan.TenPhamNhan, new
                    {
                        @class = "form-control col-md-4",
                        disabled = "disabled"
                    })*@
                @Html.ValidationMessageFor(model => model.PhamNhan.TenPhamNhan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KhuVucLamViec, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.KhuVucLamViec, null, new { htmlAttributes = new { @class = "form-control col-md-4" } })
                @Html.ValidationMessageFor(model => model.KhuVucLamViec, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BieuHien, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.BieuHien, null, new { htmlAttributes = new { @class = "form-control col-md-4" } })
                @Html.ValidationMessageFor(model => model.BieuHien, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu lại" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay về trang", "Index")
</div>
