@model Project4.Models.CheDoNghiPhepCuaQuanNguc

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<br />
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Thêm quản ngục nghỉ phép</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.QuanNgucID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.QuanNgucID, null, new
                {
                    @class = "form-control col-md-4"
               ,
                    @id = "quanNgucNghi",
                    @onchange = "TimQuanNguc()"
                })
                @Html.ValidationMessageFor(model => model.QuanNgucID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoNgayNghi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoNgayNghi, new { htmlAttributes = new { @class = "form-control  col-md-4" } })
                @Html.ValidationMessageFor(model => model.SoNgayNghi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LyDoNghi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LyDoNghi, new { htmlAttributes = new { @class = "form-control  col-md-4" } })
                @Html.ValidationMessageFor(model => model.LyDoNghi, "", new { @class = "text-danger" })
            </div>
        </div>

        <p>Trong thời gian nghỉ phép, các phòng trong khu sẽ được đảm nhiệm bởi : </p>
        <br />
        <div id="quanNgucList">
            @Html.Partial("_PhongDamNhiemBoi")
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm mới" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại trang", "Index")
</div>

@section scripts{
    <script>
        function TimQuanNguc() {
            var quanNgucNghi = $("#quanNgucNghi").val();
            var link = '@Url.Action("PhongDamNhiemBoi", "CheDoNghiPhepCuaQuanNgucs", new { @idQuanNguc = "-1" })';
            link = link.replace("-1", quanNgucNghi);
            $('#banGiao').load(link);
        }
    </script>
}